@import "_variables.scss";

.fall-parent {
  width: 60rem;
  height: 40rem;
}

.fall-gallery {
  margin: 3rem;
  position: relative;
}

.fall-photo {
  position: absolute;
  height: 20rem;
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  transition: all 0.3s;
}

.fall-photo:hover {
  transform: scale(1.3);
  box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid color(blue);
  z-index: 2;
  border-radius: 50%;
}

.fall-photo-1 {
  top: 10rem;
  left: 15%;
}

.fall-photo-2 {
  top: 2rem;
  right: 0;
}

.fall-photo-3 {
  top: -2rem;
  left: 0;
}
